@import "tailwindcss";

@font-face
{
    font-family: Montserrat-Medium;
    src: url(/assets/fonts/Montserrat-Medium.ttf)
}

@font-face
{
    font-family: Montserrat-Regular;
    src: url(/assets/fonts/Montserrat-Regular.ttf)
}

@font-face
{
    font-family: Montserrat-Bold;
    src: url(/assets/fonts/Montserrat-Bold.ttf)
}

@font-face
{
    font-family: Montserrat-ExtraBold;
    src: url(/assets/fonts/Montserrat-ExtraBold.ttf)
}

@theme inline {
  --color-snow: lch(100% 0.01 296.81);
  --background: lch(92.7% 0.01 296.81);

  --medium-font: Montserrat-Medium;
  --regular-font: Montserrat-Regular;
  --bold-font: Montserrat-Bold;
  --extra-bold-font: Montserrat-ExtraBold;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ul {
      list-style: none;
  }

  a {
      text-decoration: none;
  }

  h1 {
      font-family: var(--bold-font);
  }

  h3 {
      font-family: var(--bold-font);
  }

  h2 {
      font-family: var(--extra-bold-font);
  }

  a {
      font-family: var(--bold-font);
  }

  p {
      font-family: var(--regular-font);
  }

  input {
      font-family: var(--regular-font);
  }

  button {
      font-family: var(--bold-font);
  }
}
